#img{
    width: 100%;
}
#top {
    position: relative;
    background-color:white;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    
}

#left {
    float: left;
    background-color: #579098;
    padding: 5px;
    width: 150px;
    font-size: large;
    border-radius:7px;
}



.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 300px 0px 300px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#fundo{
    position:absolute;
    z-index:11;
    background-color:#c4ecf2;
    height:100%; 
    width:100%;
}



